body {
    background: #2f3238;
    color: #ccc;
}

img.center {
	margin: 0px auto;
	display: block;
}
img.polaroid{
    border: 10px solid;
    border-bottom: 40px solid;
}

blockquote {
	color:#fff;
}

a:hover, a:active {
	box-shadow: none;
    font-weight: bolder;
    color: orange;
}

/*----------------------*/
/******** Title *********/
/*----------------------*/

h3.title {
	font-family: helsinki, sans-serif;
	margin-top: 0;
	transform: rotate(-5deg);
	text-align: center;
}
h3.title .text {
	box-shadow: none;
	text-decoration: none;
	font-size: 90px;
	color: #FF9800;
	text-shadow: -7px 7px 2px #FFF;
}


@media (max-width: 425px) {
	h3.title .text {
		font-size: 55px;
	}
}

 main.post {
	 width: 80%;
	 margin: 0 auto;
 }

 .postList {
	margin: 20px 0 40px;
	columns: 6;
	column-gap: 4px;
	padding: 5px;
}

.postList .post {
	height: auto;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	min-height: 200px;
	break-inside: avoid;
	margin: 5px 0;
}

.postList .post h3 {
	background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    font-family: vtc_letterer_proregular;
    font-size: 22px;
    padding: 0.5em;
    margin-top: 0px;
    margin-bottom: 0.4375rem;
}

@media (max-width: 1440px) {
	.postList {
		columns: 4;
	}
}

@media (max-width: 1024px) {
	.postList {
		columns: 3;
	}
}
@media (max-width: 768px) {
	.postList {
		columns: 2;
	}
}
@media (max-width: 425px) {
	.postList {
		columns: 1;
	}
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
    background: #2f3238;
    margin: 0;
    font-family: 'vtc_letterer_proregular';
    font-size: 20px;
}

figure.effect-julia img {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
    display: block;
}

figure.effect-julia figcaption {
    text-align: left;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
    display: inline-block;
    margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
    transform: translate3d(-360px,0,0);
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
    opacity: 1;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: visible;
}

/*---------------*/
/***** Menu *****/
/*---------------*/
nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
	font-family: helsinki, sans-serif;
	box-shadow: none;
}
.cl-effect-10  {
	position: relative;
	z-index: 1;
	text-align: center;
	display: block;
}

@media (max-width: 425px) {
	.cl-effect-10  {
		display: none;	
	}
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 0 15px;
}

.cl-effect-10 a span {
	display: block;
	padding: 10px 20px;
	background: #435a6b;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #ff9800;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.cl-effect-10 a.active::before {
	-webkit-transform: translateX(0%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span,
.cl-effect-10 a.active span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before,
.cl-effect-10 a.active {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

main.post ol {
	max-width: 350px;
	counter-reset: my-awesome-counter;
	list-style: none;
	padding-left: 40px;
    margin: 20px auto;
    display: table;
}
main.post ol li {
	margin: 0 0 0.5rem 0;
	counter-increment: my-awesome-counter;
	position: relative;
}
main.post ol li::before {
	content: counter(my-awesome-counter);
	color: #fcd000;
	font-size: 1.5rem;
	font-weight: bold;
	position: absolute;
	--size: 32px;
	left: calc(-1 * var(--size) - 10px);
	line-height: var(--size);
	width: var(--size);
	height: var(--size);
	top: 0;
	transform: rotate(-10deg);
	background: black;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 0 #999;
}

/*----------------*/
/***** Footer *****/
/*----------------*/

footer .data{
	margin: -57px 0 0 0;
	text-align: center;
	display: grid;
	grid-template-areas: "fl fc fr";
}
footer .data .footerLeft {
    grid-area: fl;
}
footer .data .footerCenter {
	grid-area: fc;
	align-self: center;
}
footer .data .footerRight {
	grid-area: fr;
}

footer .data .footerRight a {
	box-shadow: none;
}
#wrap
{
	width: 100%;
	height: 150px;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
	pointer-events: none;
}

#lightings
{
	bottom: -60px;
	position: absolute;
	width: 100%;
}

section
{
	/*border-radius*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 100%;
	position: relative;
	margin: auto;

}

#one
{
	/*animation*/
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #473C78;
}

to { -webkit-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #473C78;
}

to { -moz-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #473C78;
}

to { -o-box-shadow: 0 0 100px 15px #F72A3B; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #473C78;
}

to {box-shadow: 0 0 100px 15px #F72A3B; }
}

#two
{
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #18C499;
}

to { -webkit-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #18C499;
}

to { -moz-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #18C499;
}

to { -o-box-shadow: 0 0 100px 15px #D8F05E; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #18C499;
}

to { box-shadow: 0 0 100px 15px #D8F05E; }
}

#three
{
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -o-box-shadow: 0 0 100px 15px #3E33FF }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #FFDD00;
}

to { box-shadow: 0 0 100px 15px #3E33FF }
}

#four
{
	width: 70%;
	/*animation*/
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #781848;
}

to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #781848;
}

to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #781848;
}

to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #781848;
}

to { shadow: 0 0 100px 15px #F2BBE9; }
}

#five
{
	width: 60%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #42F2A1;
}

to { box-shadow: 0 0 100px 15px #F4F6AD; }
}

/*----------------*/
/***** Share *****/
/*----------------*/
.fixed-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
	top: 25%;
	left: 2px;
}

.fixed-bar button {
	outline: none;
}


/*----------------------*/
/***** Burger Menu *****/
/*----------------------*/


/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 10px;
	top: 10px;
	display: none;
  }

@media (max-width: 425px) {
	.bm-burger-button {
		display: block;	
	}
}
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
	background: #fff;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
	background: orange;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
	height: 24px;
	width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
	background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
  }
  
  /* General sidebar styles */
  .bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
	fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
	display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
  }

  


  

  .wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	max-width: 1440px;
	font-size: 0;
  }
  
  .item-title {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	height: 150px;
	color: white;
	font-size: 22px;
	position: absolute;
	bottom: -80px;
	padding: 0 20px;
  }

  .item-title a {
	color: white;
	font-size: 18px;
  }

  .item-title a:hover, .item-title a:active {
    box-shadow: none;
    font-weight: bolder;
    color: orange;
  }

  .standard-item:nth-child(2) .item-title {
	bottom: -20px;
  }

  .standard-item:nth-child(5) .item-title {
	bottom: -50px;
  }
  .standard-item:nth-child(3) .item-title,
  .standard-item:nth-child(6) .item-title {
	  padding-left: 45px;
  }
  
  .hero-item,
  .standard-item {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  .news-item {
	display: block;
	min-height: 400px;
	width: 50%;
  }
  
  .hero-item:hover .item-title,
  .standard-item:hover .item-title {
	bottom: 0px;
  }
  
  .hero-item {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg");
  }
  
  .standard-item:nth-child(2),
  .standard-item:nth-child(5) {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg");
  }
  
  .standard-item:nth-child(3),
  .standard-item:nth-child(6) {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg");
  }
  
  .standard-item:nth-child(4) {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-large.jpg");
  }
  
  @supports (display: grid) {
	.news-item {
	  width: auto;
	  min-height: 0;
	}
  
	.hero-item {
	  grid-column: 1 / span 2;
	  grid-row: 1 / 50;
	  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
	  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
	}
  
	.standard-item:nth-child(2),
	.standard-item:nth-child(5) {
	  grid-column: 1 / span 1;
	  grid-row: 50 / 100;
	  -webkit-clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
	  clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
	  margin-top: -73px;
	}
  
	.standard-item:nth-child(3),
	.standard-item:nth-child(6) {
	  grid-column: 2 / span 1;
	  grid-row: 50 / 100;
	  -webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
	  clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
	  margin-top: -73px;
	  margin-left: -15%;
	  margin-bottom: 18px;
	}
  
	.standard-item:nth-child(4) {
	  grid-column: 1 / span 2;
	  grid-row: 100 / 150;
	  -webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
	  clip-path: polygon(45% 0, 100% 15%, 100% calc(100% - 75px), 0 100%, 0 5%);
	  margin-top: -107px;
	}
  
	.standard-item:nth-child(5) {
	  grid-column: 1 / span 1;
	  grid-row: 150 / 200;
	}
  
	.standard-item:nth-child(6) {
	  grid-column: 2 / span 1;
	  grid-row: 150 / 200;
	}
  
	.standard-item:nth-child(7) {
	  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg");
	  grid-column: 1 / span 2;
	  grid-row: 200 / 250;
	  -webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
	  clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
	  margin-top: -107px;
	}
  }
  